In [2]:
import numpy as np
import pandas as pd

from sklearn.datasets import load_iris

In [6]:
X, y = load_iris(return_X_y=True, as_frame=True)

In [7]:
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [8]:
X.isna().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

In [9]:
from sklearn.preprocessing import StandardScaler

sca = StandardScaler().set_output(transform='pandas')

sca.fit_transform(X)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0            -0.900681          1.019004          -1.340227         -1.315444
1            -1.143017         -0.131979          -1.340227         -1.315444
2            -1.385353          0.328414          -1.397064         -1.315444
3            -1.506521          0.098217          -1.283389         -1.315444
4            -1.021849          1.249201          -1.340227         -1.315444
..                 ...               ...                ...               ...
145           1.038005         -0.131979           0.819596          1.448832
146           0.553333         -1.282963           0.705921          0.922303
147           0.795669         -0.131979           0.819596          1.053935
148           0.432165          0.788808           0.933271          1.448832
149           0.068662         -0.131979           0.762758          0.790671

[150 rows x 4 columns]

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=7)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB

models = []

log_reg = LogisticRegression(solver='liblinear', multi_class='ovr')
models.append(log_reg)

kneighbors = KNeighborsClassifier()
models.append(kneighbors)

dtree = DecisionTreeClassifier()
models.append(dtree)

randforest = RandomForestClassifier()
models.append(randforest)

svc = SVC()
models.append(svc)

nbayes = GaussianNB()
models.append(nbayes)

In [ ]:
for model in models:
    model.fit(X_train, y_train)

model_preds = []